@using Sandbox.UI;
@using Sandbox.Menu;

@namespace Facepunch.Gunfight.MainMenu

@inherits RootPanel
@implements Sandbox.Menu.ILoadingScreenPanel
@attribute [StyleSheet]

<root style="flex-direction: column;">
	<div class="background" @ref=BackgroundPanel />
	<div class="overlay" />
	
	<div class="main">
		<div class="left column">
			<div class="game-title">
				Loading
			</div>
			
			@if ( Map != null )
			{
                <div class="game-subtitle">
                    Map Information
                </div>

                <div class="column" style="padding-left: 16px; gap: 8px;">
                    <div class="info">
                        <img src="@Map?.Thumb" />
                        <span>@(Map?.Title ?? "a map")</span>
                    </div>

                    <div class="info">
                        <img src="@Map?.Org.Thumb" />
                        <span>Made by @(Map?.Org?.Title ?? "Facepunch Studios Ltd")</span>
                    </div>
                </div>

                <div style="height: 64px;" />

				<div class="game-subtitle">
					Stats
				</div>

				<div class="column" style="padding-left: 16px; gap: 8px;">
					<label class="stat">This map has been played @Map.Usage.Total.Users times, for a total of @( TimeSpan.FromSeconds( Map.Usage.Total.Seconds ).TotalHours.ToString( "0" ) ) hours.</label>
					<label class="stat">You've played this map @Map.Interaction.Sessions times, for a total of @( TimeSpan.FromSeconds( Map.Interaction.Seconds ).TotalMinutes.ToString( "0" ) ) minutes.</label>
					<span style="gap: 16px;">
						<i>code-commit</i>
						<label class="stat">Last Update - @Map.Updated.ToString( "D" ).</label>
					</span>
				</div>
			}

		</div>
		
		<div style="flex-grow: 1;" />
		
		<div class="right column">
			
		</div>
	</div>
	
	<div class="footer">
	    @if ( Progress.Fraction > 0 )
	    {
	        <div class="progress">
        		<div class="bar" style="width: @(Progress.Percent)%;"></div>
        		<div class="text-left">@(Progress.Percent.ToString("0") )%</div>
        		<div class="text-right"><span>@(Progress.Mbps.ToString("0"))</span><span class="unit">Mbps</span></div>
	        </div>
	    }
	    
		<label class="button">@( Progress.Title ?? "Loading..." )</label>
	</div>
</root>

@code
{
    public LoadingProgress Progress;

    Panel BackgroundPanel { get; set; }
    Package Map { get; set; }

    GunfightLobby Lobby => MainMenu.CurrentLobby;

    bool IsTest => Progress.Title.Equals( "Testing Loading Progress.." );

    public void OnLoadingProgress( LoadingProgress progress )
    {
        Progress = progress;
        StateHasChanged();

        _ = SyncMap();
    }

    async Task FetchMapPackage( string mapIdent )
    {
        Map = await Package.Fetch( mapIdent, false );

        if ( Map == null ) return;

        if ( Map.Screenshots is { Length: > 0 } )
        {
            var screenshot = Game.Random.FromArray( Map.Screenshots );
            if ( screenshot != null )
            {
                BackgroundPanel.Style.BackgroundImage = Texture.Load( screenshot.Url );
            }
        }

        StateHasChanged();
    }

    async Task SyncMap()
    {
        if ( IsTest )
        {
            // await FetchMapPackage( "eagleone.killhouse_chimona" );

            return;
        }

        var map = Game.Server.MapIdent ?? Lobby?.Map ?? null;

        if ( map is null ) return;

        if ( Map?.FullIdent == map )
        {
            // Already has been set
            return;
        }

		await FetchMapPackage( map );
	}
}
