@using Sandbox;
@using Sandbox.UI;

@namespace Facepunch.Gunfight.UI

<root class="@RootClasses()">
    @if ( Client.IsValid() )
    {
        <img class="avatar" src="avatar:@Client.SteamId" />
		<LevelComponent @Level="@Level" />
	    <label class="name">@Client.Name</label>
        <label class="kills">@Kills</label>
        <label class="deaths">@Deaths</label>
        <label class="score">@Score</label>
        <label class="ping">@Client.Ping</label>
    }
    else
    {
        <label class="loading">...</label>
    }
</root>

@code
{
    public IClient Client { get; protected set; }

    public int Kills => Client.GetInt( "frags", 0 );
    public int Deaths => Client.GetInt( "deaths", 0 );
	public int Score => Client.GetInt( "score", 0 );
	public int Level => Client.Components.GetOrCreate<ProgressionComponent>()?.Level ?? 1;

    public void SetClient( IClient cl )
    {
        Client = cl;
        SetClass( "me", cl == Game.LocalClient );

        StateHasChanged();
    }

	public string RootClasses()
	{
		var cl = Game.Clients.FirstOrDefault( x => x.SteamId == Client.SteamId );
		if ( cl == null ) return "disconnected";

		var friendState = TeamSystem.GetFriendState( cl.GetTeam(), TeamSystem.MyTeam );

		if ( friendState == TeamSystem.FriendlyStatus.Friendly ) return "friend";
		if ( friendState == TeamSystem.FriendlyStatus.Hostile ) return "enemy";
		if ( friendState == TeamSystem.FriendlyStatus.Neutral ) return "neutral";

		return "";
	}

    protected override int BuildHash()
    {
        return HashCode.Combine( Kills, Deaths, Score, Level );
    }
}
