@using Sandbox.UI
@using Facepunch.Gunfight.UI

@namespace Facepunch.Gunfight.MainMenu
@inherits BaseModal
@attribute [StyleSheet]

<root>
    <div class="main">
        <div class="left">
            <div class="row">
                <div class="column">
                    @if ( MapPackage != null )
                    {
                        <PackageCard Fill=@false Package=@MapPackage />
                    }
                </div>

                <div class="column grow center">
                    <div class="column grow">
                        <div class="span">
                            <i>calendar_today</i>
                            <label class="subtitle bold">@Match.StartTime.ToString( "D" )</label>
                        </div>

                        <div class="span">
                            <i>hourglass_empty</i>
                            <label class="subtitle bold">@GetMatchDuration( Match.Duration )</label>
                        </div>

                        <div class="span">
                            <i>groups</i>
                            <label class="subtitle bold">@Match.Players.Count</label>
                        </div>

                        <div class="span">
                            <i>dns</i>
                            <label class="subtitle bold">@Match.ServerName</label>
                        </div>
                    </div>
                    <div class="column">
                        <GamemodeCard GamemodeName=@Match.Gamemode />
                    </div>
                </div>
            </div>

            <div style="height: 24px;"/>

            <label class="subtitle">TEAMS</label>

            <div class="players">
                @foreach ( var group in Match.Players.GroupBy( x => x.Team ) )
                {
                    <div class="group @GetGroupClass( group.Key )">
                        @foreach ( var player in group )
                        {
                            <div class="row">
                                <img class="avatar" src="avatar:@player.SteamId" />
                                <label>@GetPlayerName( player.SteamId )</label>

                                <div class="grow" />

                                <div class="span">
                                    <i>adjust</i>
                                    <label>@player.Data["kills"]</label>
                                </div>

                                <div class="span">
                                    <i>handshake</i>
                                    <label>@player.Data["assists"]</label>
                                </div>

                                <div class="span">
                                    <i>sentiment_very_dissatisfied</i>
                                    <label>@player.Data["deaths"]</label>
                                </div>
                            </div>
                        }
                    </div>    
                }
            </div>
        </div>
    </div>
</root>


@code
{
    public Progression.MatchHistory.Match Match { get; set; }

    Package MapPackage { get; set; }

    public MatchModal( Progression.MatchHistory.Match match )
    {
        Match = match;
        FetchPackage();
    }

    async void FetchPackage()
    {
        MapPackage = await Package.FetchAsync( Match.MapIdent, false );
        StateHasChanged();
    }

    string GetPlayerName( long steamId )
    {
        var name = new Friend( steamId ).Name;
        if ( string.IsNullOrEmpty( name ) )
            name = $"BOT";

        return name;
    }

    string GetGroupClass( Team team )
    {
        var myPlayer = Match.Players.FirstOrDefault( x => x.SteamId == Game.SteamId );
        var state = TeamSystem.GetFriendState( myPlayer.Team, team );

        if ( state == TeamSystem.FriendlyStatus.Friendly ) return "friend";
        if ( state == TeamSystem.FriendlyStatus.Hostile ) return "enemy";

        return "";
    }

    string GetMatchDuration( TimeSpan span )
    {
        return $"{span.TotalMinutes:n0} minutes, {span.Seconds:n0} seconds";
    }
}
